dist
node_modules

*.tgz

**/.webgameengine/config.mjs
**/.samengine/config.mjs
**/.samengine/links.md
**/.samengine/links.txt

web/docs

dist2/

*.exe
/crates/easy-git-ignore/target/
/.samengine/tags.txt
/crates/seg/target
/minisite-md/index.html

.npmrc

index.html
pages/links.md
